<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="img/favicon.png">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="css/jumbotron-narrow.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.18.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAcUeCQLqFTosOwdxqVJQanB7q_PWAuEno&sensor=false"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="js/googlemaps.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.js"></script>

  </head>

  <body ng-app='app' ng-controller='controller'>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="index.html">{{tab0}}</a></li>
          <li class="active"><a href="lost.html">{{tab1}}</a></li>
          <li><a href="found.html">{{tab2}}</a></li>
          <li><a href="about.html">{{tab3}}</a></li>
        </ul>
        <h3 class="text-muted">{{projectname}}</h3>
      </div>

      <div class="jumbotron">
        <h3>Lost something?</h3>
        <p>Give us the details and we'll add it to our database.</p><br>
        <form>
          <input ng-model="title" type="text" placeholder="Title" required><br>
          <input ng-model="description" type="text" placeholder="Description" required><br>
          <input ng-model="cash_reward" name="cash_reward" type="text" placeholder="Cash Reward (optional)" pattern="^[\d]+([\.|,][\d]{0,2})?$">
          <br>
          <h4 ng-show="cash_reward == 0">No cash reward</h4>
          <h4 ng-hide="cash_reward == 0">{{cash_reward | currency}}</h4>
          <br>
          <input ng-model="paypal_username" ng-hide="cash_reward == 0" type="text" placeholder="Paypal Username" pattern="^[\w\d]+$"><br ng-hide="cash_reward == 0">
          <input ng-model="email_address" type="email" placeholder="Email Address" pattern="^[\w\d\.]+@[\w\d]+\.[\w]+$" required><br>
          <input ng-model="phone_number" type="tel" placeholder="Phone Number ex 416-123-4567" pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$"><br>
          <input type="text" ng-model="locationCoordinates" ng-change="getMapAddress()" placeholder="Location last seen"><br><br>
          <img id="map" src={{mapAddress}} width="540" height="360"><br><br>

          <button id="submitButton" class = "btn btn-lrg" ng-click="submit();">Post!</button><br>
        </form>
      </div>

      <div class="footer">
        <p>{{authors}}. &copy; 2014</p>
      </div>
    </div>
  </body>
</html>